app-theme-tool {
    position: absolute;
    width: 5vw;
    height: 5vw;
    background: rgba(0,0,0,0.2);
    display: flex;
    align-self: center;
    border-radius: 0px 5px 5px 0px;
    border: 2px solid rgba(0,0,0,0.2);
    border-left: none;
    line-height: 5vw;
    text-align: center;
}

